html, body {
  height: 100%;
}

body {
  background-color: rgb(30,215,96);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #545454;
}

#wrapper {
  width: 1200px;
  background-color: #FFF;
  margin: 120px auto 0px auto;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

header {
  height: 150px;
  width: 100%;
  background-color: black;
  position: fixed;
  margin-top: -130px;
  margin-left: 0px;
  margin-right: 0px;
}

nav {
  float: right;
  width: 1000px;
  margin-top: -110px;
  margin-left: -10px;
}

nav ul {
  float: right;
  margin-right: 40px;
  padding: 0;
  list-style: none;
  line-height: normal;
}

nav li {
  float: left;
}

nav a {
  margin-left: 20px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  border-radius: 15px 15px;
  background-color: rgb(30,215,96);
}

nav a:hover {
  border: 5px solid rgb(30,215,96);
}

#page {
  overflow: hidden;
  width: 1100px;
  margin: 0 50px;
  padding: 50px 0;
  border-bottom: 2px solid gray;
}

#main {
  float: left;
  width: 1050px;
}

#main p {
  font-size: 20px;
  text-align: justify;
}

aside {
  float: right;
  width: 300px;
}

footer {
  overflow: hidden;
  margin: 0 50px;
  padding: 30px 0;
  border-top: 5px solid #000;
}

footer p {
  text-align: center;
}

#logo img {
  margin-top: 0px;
  height: 150px;
}

#logo {
  width: 100px;
}

.buscados {
  background-color:rgb(30,215,96);
  border-radius: 15px 15px;
  color: white;
  width:200px;
  margin:5px auto;
}

.buscados img{
  border-radius: 15px 15px;
  height:200px;
}

#busq {
  margin-bottom: 20px;
}

article{
  margin:auto;
}

.buscados2{
  background-color:rgb(30,215,96);
  border-radius: 5px 5px;
  color: white;
  width:200px;
  margin:5px auto;
}

.imgcabecera{
  width:1100px;
  height:300px;
}

.buscadosart{
  background-color:rgb(30,215,96);
  border-radius: 5px 5px;
  color: white;
  width:800px;
  margin:5px auto;
}
